@media (max-width: 765px) { 

.menuItem1
{
	padding-top:1vh;
}

.faceContainer
{
	display:none;
}

.myimage
{
	padding-top: 10px;
	padding-bottom: 25px;

}


#content
{
	padding-top:30px;
}


}

@media (min-width: 768px) 
{ 

.homeContainer
{
		min-height: 100%;  
		min-height: 100vh; 
}

.faceContainerMobile
{
	display:none;
}

.footer
{
	padding-bottom:20px;
}



}

body
{
	background-color: #FEFCFB;
	height: 100vh;
}

.menuImage
{
	display:block;
	margin:auto;
	max-width:100%;
	height:auto;
	max-height:111px;
}

.animatedFace
{
	height:56vh;
}


.header
{
	padding-top:20px;
}

body
{
	font-family: 'Vollkorn', serif;
}

.biography
{
	text-align:justify;
	font-size: 1.3em;
}

.contact
{
	text-align: center;
	font-size: 5vw;
}

.foto
{
text-align:center;
}

.portfolioPhoto
{
	max-height: 50vh;
}


