body
{
	height: 95vh;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.container 
{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content:center;
	height: 95vh;
	flex-direction: column;
	
}

.logo
{
	max-width:80%;
	height:auto;
}

p
{
	color:white;
}

a
{
	color:white;
}